.jumbotron {
  background-color: transparent;
  color: black;
  margin-top: 35px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #ddb822;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-cat {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card-cat:hover {
  transform: translateY(-10px);
  transition: .6s;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.btn-add {
  width: 100%;
  border-radius: 0px; }

.text-center {
  text-align: center; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 10px; }

.carousel-control-next-icon {
  background-color: silver; }

.carousel-control-prev-icon {
  background-color: silver; }
